<!DOCTYPE html>
<html lang="en">

<head id="#navbarHead">
    <meta charset="UTF-8">
    <title>Online Toys</title>
    <script src="navbar.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js" integrity="sha256-/H4YS+7aYb9kJ5OKhFYPUjSJdrtV6AeyJOtTkw6X72o=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.62/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.62/vfs_fonts.js"></script>


    <!-- <script type="text/javascript" src="html2canvas.min.js"></script> -->
    <!-- <script type="text/javascript" src="pdfmake.js"></script> -->
    <script src="filesaver.js"></script>
    <script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.js">
    </script>
</head>

<body>

    <div class="NavbarDiv">
        <header class="Navbar">
            <div class="NavbarInsideDiv">
                <button class="NavbarMenuButton" tabindex="0" type="button" aria-label="open menu">
                    <span class="NavbarMenuButtonIcon">
                        <img class="NavbarMenuIcon" alt="MenuICON" src="" id="#menuButton">
                    </span>
                </button>
                <img class="AppLogo" src="" alt="Online Toys" id="#appLogo">
                <div class="MenuItems">
                    <a id="#statisticsPDF">StatisticsPDF</a>
                    <a id="#statisticsCSV">StatisticsCSV</a>
                </div>
                <div class="SearchBarDiv" id="#SearchBar">
                    <div class="SearchDivIcon">
                        <img class="SearchIcon" src="" alt="Search ICON" id="#searchIcon">
                    </div>
                    <div class="SearchDivInput">
                        <input class="SearchInput" placeholder="What are you looking for?" aria-label="search" id="#searchInput" value="">
                        <button type="button" class="search-btn" id="#search-btn">Search</button>
                    </div>

                </div>
                <div class="UserActions">
                    <button class="UserActionsButton1" tabindex="0" type="button" id="dropdownTrigger">
                        <span class="MyAccountSpan">
                            <img class="MyActionsLogo" src="" alt="User ICON" id="#userIcon">
                        </span>
                    <span class="MyAccountButtonDropdown">My Account</span>
                </button>

                    <div id="myDropdown" class="DropdownContent">
                        <a id="#details" href="#">Details</a>
                        <a id="#logout" href="#">Log out</a>
                    </div>
                    <button id="shoppingCartBtn" class="UserActionsButton2" tabindex="0" type="button">
                        <span>
                            <img class="MyActionsLogo" src="" alt="My Bag" id="#shoppingBag">
                        </span>
                    <span class="MyBagButtonDropdown">My Bag</span>
                </button>
                </div>
            </div>
        </header>
    </div>


</body>

</html>