/* Basic Styling */

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
}


/* Columns */

.right-column {
    width: 35%;
    margin-top: 60px;
}


/* Left Column */

.left-column img {
    width: 75%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.3s ease;
}

.left-column {
    width: 65%;
    position: relative;
}

.left-column img {
    opacity: 1;
}

.product-name {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 52px;
    color: #43484D;
    letter-spacing: -2px;
}


/* Product Description */

.product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}


/* Buttons */

.button,
.button-right {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button {
    margin-left: 23%;
}

.button-right {
    margin-left: 30%;
    margin-top: 0%;
}

.button-right span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button-right span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button-right:hover span {
    padding-right: 25px;
}

.button-right:hover span:after {
    opacity: 1;
    right: 0;
}


/* Product Price */

.product-price {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.product-price span {
    font-size: 17px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
}

.cart-btn {
    display: inline-block;
    background-color: #7DC855;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 6px 23px;
    transition: all .5s;
    margin-left: 3%;
    cursor: pointer;
}

.back-btn {
    display: inline-block;
    background-color: #7DC855;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 6px 23px;
    transition: all .5s;
    margin-top: 20%;
    cursor: pointer;
}

.cart-btn,
.back-btn:hover {
    background-color: #64af3d;
}

.Recomanded {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 80%;
    left: 0;
    right: 0;
}

.Recomanded h1 {
    margin-bottom: 10%;
    font-size: 20px;
    margin-top: 5%;
}

.Recomanded img {
    width: 300px;
    position: absolute;
    left: 40%;
    top: 50px;
    opacity: 0;
    transition: all 0.3s ease;
    margin-top: 10%;
}

.Recomanded img.get-img {
    opacity: 1;
    cursor: pointer;
}

.footer-container {
    position: absolute;
    top: 160%;
}


/* Responsive */

@media (max-width: 940px) {
    .container {
        flex-direction: column;
        margin-top: 60px;
    }
    .left-column,
    .right-column {
        width: 100%;
    }
    .left-column img {
        width: 250px;
        right: 0;
        top: 130px;
        left: initial;
    }
    .inner_footer {
        margin-top: 480px;
    }
    .footer_third h1,
    h2,
    h3,
    h4 {
        font-size: 17px;
    }
    .footer_third a {
        font-size: 14px;
    }
    .footer_third b {
        font-size: 14px;
    }
    .product-description h1 {
        font-size: 45px;
    }
    .Recomanded {
        top: 78%;
    }
    .button {
        margin-left: 10%;
        font-size: 15px;
    }
    .button-right {
        margin-left: 35%;
        font-size: 15px;
    }
    .Recomanded img {
        width: 200px;
    }
    .product-name{
        font-size:24px;
    }
}

@media (max-width: 745px) {
    .left-column img {
        width: 220px;
        top: -85px;
    }
    .footer_third h1,
    h2,
    h3,
    h4 {
        font-size: 14px;
    }
    .footer_third a {
        font-size: 10px;
    }
    .footer_third b {
        font-size: 10px;
    }
    .product-description h1 {
        font-size: 45px;
    }
    .right-column {
        margin-top: 150px;
    }
    .Recomanded {
        top: 90%;
    }
    .button {
        margin-left: 5%;
    }
    .button-right {
        margin-left: 30%;
    }
    .Recomanded img {
        margin-left: -24px;
        width: 164px;
    }
    .Recomanded h1 {
        margin-bottom: 29%;
    }
}

@media (max-width: 600px) {
    .button {
        margin-top: 30%;
    }
    .button-right {
        margin-left: 5%;
    }
    .Recomanded h1 {
        font-size: 19px;
    }
}