.forgot-form {
    display: flex;
    margin-left: 35%;
    margin-right: 2%;
    flex-flow: column wrap;
    width: 30%;
    height: 50%;
    border: 5px solid #6da1d826;
    border-radius: 6px;
    background-color: #4230154d;
    box-shadow: 0px 1px 12px 5px rgb(2, 9, 43);
    margin-top: 13%;
}

.description-form {
    color: #0d1535;
    font-size: 30px;
    margin-top: 8%;
    text-align: center;
    font-family: cursive;
    margin-bottom: 5%;
}

.registerButtonContainer2 {
    display: flex;
    justify-content: center;
    height: 15%;
    padding-top: 1%;
    margin-top: 2%;
}

.regButton2 {
    width: 60%;
    margin-top: 5%;
    border: 1px solid #21354b;
    border-radius: 15px;
    background-color: #abc9ca;
    color: #080d34;
    font-size: 1em;
    margin-bottom: 5px;
}

.login-container {
    margin-bottom: 8%;
}

@media screen and (min-width:320px){

    .description-form {
        font-size: 24px;
    }
    .forgot-form{
        width: 86%;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -170px;
        margin-left: -180px;
        height:44%;
    }
    .regButton2{
        margin-bottom: -2px;
        width: 72%;
    }
}
@media screen and (min-width:465px){

    .description-form {
        font-size: 24px;
    }
    .forgot-form{
        width: 68%;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -158px;
        margin-left: -203px;
        height:45%;
    }
    .regButton2{
        margin-bottom: -2px;
        width: 72%;
    }
}
@media screen and (min-width:670px){

    .description-form {
        font-size: 24px;
    }
    .forgot-form{
        width: 46%;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -158px;
        margin-left: -203px;
        height:45%;
    }
    .regButton2{
        margin-bottom: -2px;
        width: 72%;
    }
}
@media screen and (min-width:870px){

    .description-form {
        font-size: 24px;
    }
    .forgot-form {
        width: 46%;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -158px;
        margin-left: -203px;
        height: 48%;
    }
    .regButton2{
        margin-bottom: -2px;
        width: 60%;
    }
}
@media screen and (min-width:1000px){

    .description-form {
        font-size: 24px;
    }
    .forgot-form{
        width: 38%;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -151px;
        margin-left: -205px;
        height:50%;
    }
    .regButton2{
        margin-bottom: -2px;
        width: 50%;

    }
}
@media screen and (min-width:1320px){
    .regButton2 {
        margin-bottom: -4px;
        width:45%;
    }
    .description-form{
        font-size: 27px;
    }
    .forgot-form{
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -170px;
        margin-left: -350px;
        height:50%;

    }

}

@media only screen and (height : 812px) {
    .forgot-form {
        width: 90%;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -170px;
        margin-left: -180px;
        height: 40%
    }
} /*Mobile M*/
@media only screen and (height:1024px) {
    .forgot-form {
        width: 57%;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -158px;
        margin-left: -203px;
        height: 36%;
    }
} /* Tableta 1 */
@media only screen and (height:1366px) {
    .forgot-form {
        width: 49%;
        position: fixed;
        top: 54%;
        left: 50%;
        margin-top: -264px;
        margin-left: -242px;
        height: 31%;
    }
} /* Tableta 2 */