.forgot-form {
    display: flex;
    margin-left: 35%;
    margin-right: 2%;
    flex-flow: column wrap;
    width: 30%;
    height: 50%;
    border: 5px solid #6da1d826;
    border-radius: 6px;
    background-color: #4230154d;
    box-shadow: 0px 1px 12px 5px rgb(2, 9, 43);
    margin-top: 13%;
}

.description-form {
    color: #0d1535;
    font-size: 30px;
    margin-top: 8%;
    text-align: center;
    font-family: cursive;
    margin-bottom: 5%;
}

.regButton {
    margin-bottom: -4px;
    font-family: cursive;
}

.login-container {
    margin-bottom: 8%;
}