<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="./RegisterModalFunctions.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./registerForm.css" type="text/css">
    <title>Online Toys</title>
</head>

<body>

    <section class="register-side">
        <form class="register-form">

            <div class="register-container">
                <div>
                    <label for="firstName">First Name</b></label>
                    <input id="firstName" name="firstName" type="text" placeholder="Enter First Name">
                </div>
                <div>
                    <label for="lastName">Last Name</b></label>
                    <input id="lastName" name="lastName" type="text" placeholder="Enter Last Name ">
                </div>
                <div>
                    <label for="email">Email</b></label>
                    <input id="email" name="email" type="text" placeholder="Enter Email">
                </div>
                <div>
                    <label for="username">Username</b></label>
                    <input id="username" name="username" type="text" placeholder="Enter Username ">
                </div>
                <div>
                    <label for="password">Password</b></label>
                    <input id="password" name="password" type="password" placeholder="Enter Password">
                </div>

            </div>

            <div class="registerButtonContainer ">
                <button type="button" class="regbutton " onclick="sendata()">Register</button>
            </div>
        </form>
    </section>
</body>

</html>