<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="RegisterModalFunctions.js"></script>
    <link rel="stylesheet" href="../../Components/RegisterComponents/registerForm.css">
    <title>Register Form</title>
</head>

<body>
    <div>

        <form class="register-form" method="POST" action="/auth/register">
            <button class="closeContainer" type="button" id="#closeModalButton" onclick="closeRegisterModal()">
            <span
                    class="closeButton"
                    aria-hidden="true"
            >
                &times;
            </span>
        </button>
            <div class="login-container">
                <div>
                    <label for="firstName">First Name</b></label>
                    <input name="firstName" type="text" placeholder="Enter First Name" minlength="2" required>
                </div>
                <div>
                    <label for="lastName">Last Name</b></label>
                    <input name="lastName" type="text" placeholder="Enter Last Name" minlength="2" required>
                </div>
                <div>
                    <label for="email">Email</b></label>
                    <input name="email" type="email" placeholder="Enter Email" required>
                </div>
                <div>
                    <label for="username">Username</b></label>
                    <input name="username" type="text" placeholder="Enter Username" minlength="3" required>
                </div>
                <div>
                    <label for="password">Password</b></label>
                    <input name="password" type="password" placeholder="Enter Password" minlength="6" required>
                </div>

            </div>

            <div class="registerButtonContainer" id="codrin">
                <button type="submit" class="regbutton" id="registerBtn">Register</button>
            </div>
        </form>
    </div>
</body>

</html>