.register-form {
    display: flex;
    margin-left: 35%;
    margin-right: 2%;
    flex-flow: column wrap;
    width: 27%;
    height: 65%;
    border: 5px solid #6da1d826;
    border-radius: 6px;
    background-color: #4230154d;
    box-shadow: 0px 1px 12px 5px rgb(2, 9, 43);
    margin-top: 12%;
}

.closeContainer {
    background-color: #5d59562e;
    border: 0px;
}

.closeButton {
    float: right;
    justify-content: right;
    display: inline-grid;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.registerButtonContainer {
    display: flex;
    justify-content: center;
    height: 15%;
    padding-top: 1%;
    margin-top: 2%;
}

.regButton {
    width: 60%;
    margin-top: 5%;
    border: 1px solid #21354b;
    border-radius: 15px;
    background-color: #abc9ca;
    color: #080d34;
    font-size: 1em;
    margin-bottom: 5px;
    font-size: 17px;
}

@media screen and (max-width:1800px){
    .regButton {
        margin-top: 16%;
        margin-bottom: -7%;
        width: 35%;
        height:65%;
    }
    .register-form {
        width: 23%;
        margin-left: 37%;
        height: 59%;
    }
}

@media screen and (max-width:1300px){
    .register-form {
        height: 66%;
        margin-top: 13%;
        width: 26%;
    }
    .regButton {
        margin-top: 17%;
        margin-bottom: -6%;
    }
}

@media screen and (max-width:1015px){
    .register-form {
        height: 63%;
        margin-top: 21%;
        width: 32%;
        margin-left: 34%;
    }
    .regButton {
        margin-top: 9%;
        margin-bottom: -6%;
    }
}

@media screen and (max-width:760px){

    .register-form {
        height: 63%;
        margin-top: 28%;
        width: 46%;
        margin-left: 29%;
    }
    .regButton {
        margin-top: 14%;
        margin-bottom: -6%;
    }
}

@media screen and (max-width:600px){
    .register-form {
        height: 65%;
        margin-top: 34%;
        width: 60%;
        margin-left: 15%;
    }
}

@media screen and (max-width:400px){
    .register-form {
        height: 60%;
        margin-top: 44%;
        width: 66%;
        margin-left: 15%;
    }
}