.AdImage {
     width: 80%;
     position: absolute;
     left: 10%;
     margin-top: 2rem;
     top: 15%;
     z-index: 0;
 }

.bottom-side{
    position: absolute;
    top: 250%;
}
.inner_footer{
    margin:0 auto;
    width:100%;
    height:100%;
    text-align: center;
    background-color: #18181a;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.7fr;
    grid-gap: 20px;
}


.footer_third h1,h2,h3,h4{
    font-family: 'Georgia';
    font-size: 22px;
    color:white;
    width:100%;
    margin-bottom: 20px;
    display:block;
}
.footer_third a{
    font-family: 'Georgia';
    font-size: 18px;
    font-weight:200;
    color:white;
    width:100%;
    padding-bottom:5px;
    display:block;
}
.footer_third b{
    font-family: 'Georgia';
    font-size: 12px;
    font-weight:200;
    color:white;
    width:100%;
    display:block;
}


