@font-face {
    font-family: Waltograph;
    src: url("../Fonts/waltograph42.otf");
}
.body{
    min-width: max-content;
}
.NavbarDiv {
    flex-grow: 1;
    display: block;
    min-width: max-content;
}

.Navbar {
    color: rgba(0, 0, 0, 0.87);
    background-color: white;
    position: static;
    transform: translateZ(0);
    display: flex;
    z-index: 1100;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-direction: column;
    min-width: max-content;
}

.NavbarInsideDiv {
    display: flex;
    position: relative;
    align-items: center;
    padding-left: 2rem;
    left: 0.5rem;
    min-height: 64px;
    min-width: max-content;
}

.NavbarTitle {
    font-size: 1.25rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.NavbarMenuIcon {
    width: 25px;
}

.NavbarMenuButton {
    flex: 0 0 auto;
    background-color: white;
    padding: 12px;
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
    border: white;
}

.NavbarMenuButtonIcon {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
    font-size: 1.5rem;
    text-align: center;
}

.AppLogo {
    width: 10%;
    max-width: 10%;
    margin-left: 2rem;
}

.MenuItems {
    margin-left: 3%;
}

.MenuItems a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2rem;
    font-family: Waltograph, serif;
    margin-top: 0.8rem;
    margin-right: 2rem;
}

.SearchBarDiv {

    width: auto;
    position: relative;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.15);
}

.SearchDivIcon {
    height: 100%;
    display: flex;
    padding: 0 16px;
    position: absolute;
    align-items: center;
    pointer-events: none;
    justify-content: center;
}

.SearchIcon {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}

.SearchDivInput {
    color: black;
    cursor: pointer !important;
    display: inline-flex;
    position: relative;
    font-size: 1rem;
    align-items: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.1875em;
    letter-spacing: 0.00938em;
}

.SearchInput {
    font: inherit;
    color: black;
    width: 40ch;
    height: 2.2rem;
    margin: 0;
    display: block;
    min-width: 0;
    background: border-box;
    animation-name: mui-auto-fill-cancel;
    transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    padding-left: calc(1em + 32px);
    box-shadow: 0 0 2px black;
    border-style: hidden;
    outline: none;
}

.UserActions {
    margin-left: 3.5rem;
    position: inherit;
    bottom: 1.2rem;
    display: inline-block;
    width: 15rem;
}

.MyAccountButtonDropdown {
    font-family: Waltograph, serif;
    position: relative;
    right: 4rem;
    border: 0;
    font-size: 1.5rem;
    color: black;
    outline: none;
    top: 1.2rem;
}

.MyAccountButton {
    flex: 0 0 auto;
    color: #fff;
    padding: 12px;
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    position: relative;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    bottom: 0.9rem;
}

.MyActionsLogo {
    width: 2rem;
    margin-top: 0.1rem;
}

.DropdownContent {
    display: block;
    position: absolute;
    background-color: white;
    min-width: 10%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
    z-index: 1;
}

.DropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    font-family: Waltograph, serif;
    font-size: 1.7rem;
    display: none;
}

.UserActionsButton1 {
    flex: 0 0 auto;
    color: #fff;
    padding: 12px;
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: contents;
    width: 5rem;
    outline: 0;
    position: relative;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    bottom: 1rem;
}

.UserActionsButton2 {
    flex: 0 0 auto;
    color: #fff;
    padding: 12px;
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: contents;
    outline: 0;
    position: relative;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    left:3rem;
    width: 10rem;
}

.MyBagButtonDropdown {
    font-family: Waltograph, serif;
    position: absolute;
    border: 0;
    font-size: 1.5rem;
    color: black;
    outline: none;
    left: 6rem;
    top: 2.4rem;
}




@media (min-width: 375px) and (max-width: 768px) {
.AppLogo {
    max-width: 20%;
    min-width: 20%;
}
    .MenuItems a {
        font-size: 3rem;
        margin-right: 1rem;
    }
    .SearchInput {
        width: 25ch;
    }
    .UserActions{
        font-size: 2rem;
    }
}
