body {
    background-color: rgba(0, 0, 0, 0.4);
}

main {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 60%;
}

.basket-cards-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0%;
    left: 5%;
    width: 45%;
    height: 100%;
}

.basket {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-family: sans-serif;
    color: #34343a;
    margin-bottom: 2%;
}

.back-btn {
    width: 10%;
    height: 10%;
    background-color: #e8e8e8;
    color: #000000;
    margin-top: -2%;
    margin-left: 1%;
    font-family: cursive;
    font-size: 15px;
    border: 2px solid #00000066;
    cursor: pointer;
}