body {
    background-image: url("LoginImages/bck8.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.top-side {
    display: flex;
    flex-direction: row;
    height: 20%;
    width: 100vw;
    background-color: #6da1d826;
}

.top-text {
    display: flex;
    color: #1f4369;
    margin-top: 3%;
    margin-left: 25%;
    font-size: 273%;
    font-family: cursive;
    text-shadow: 2px 0px 14px #111119;
    animation: movelefttoright 3s;
}

.logo-top-bar {
    display: flex;
    width: 15%;
    height: 105%;
    margin-left: 2%;
    margin-top: -1%;
    animation: rot 7.5s;
}

@keyframes rot {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes movelefttoright {
    50% {
        transform: translatex(-30%);
        color: #8ab7c7;
    }
    75% {
        transform: translateX(10%);
        color: #b5dbec;
    }
    100% {
        transform: translateX(0%);
        color: #1f4369;
    }
}

.auth-side {
    display: flex;
    justify-content: center;
    height: 50%;
}

.login-svg {
    width: 90%;
    height: 90%;
    padding-top: 15%;
    padding-left: 10%;
}

.svg-container {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
}

.login-container {
    display: flex;
    flex-direction: column;
    padding: 5% 5%;
}

label {
    text-align: center;
    font-weight: bold;
    font-size: large;
    font-family: serif;
    color: #0d1535
}

input {
    padding: 1%;
    background-color: #abc9ca;
    font-size: 1em !important;
    font-style: italic;
    background-clip: padding-box;
    border: 1px solid #abc9ca;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

.login-container > div {
    display: flex;
    flex-direction: column;
    margin: 2%;
}

.login-form {
    display: flex;
    flex-flow: column wrap;
    width: 30%;
    height: 90%;
    min-height: 80%;
    border: 5px solid #6da1d826;
    border-radius: 6px;
    background-color: #4230154d;
    box-shadow: 0px 1px 12px 5px rgb(2, 9, 43);
    margin-top: 3%;
}

.other-actions {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 3%;
}

.button-login {
    display: flex;
    justify-content: center;
    height: 15%;
    padding-top: 1%;
}

.forgot-button {
    width: 50%;
    margin-top: 5%;
    border: 1px solid #21354b;
    border-radius: 15px;
    background-color: #abc9ca;
    color: #080d34;
    font-size: 1em;
    margin-bottom: 5px;
}

.login-button {
    width: 50%;
    margin-top: 5%;
    border: 1px solid #21354b;
    border-radius: 15px;
    background-color: #abc9ca;
    color: #080d34;
    font-size: 1em;
    margin-bottom: 5px;
}

.forgot {
    color: #000000;
    font-size: 1em;
    font-family: serif;
    cursor: default;
}

.register-button {
    border: 1px solid #000000;
    background-color: #abc9ca;
    color: #051a22;
    font-size: 1em;
    width: 35%;
    height: 2.5rem;
    margin-top: 5%;
    border-radius: 11px;
}

/*LowestRez 320*/
@media only screen and (min-width : 320px) {
    .top-text{
        margin-top:14%;
        margin-left:15%;
        font-size:90%;
    }
    .logo-top-bar{
        width:23%;
        height:60%;
        margin-left:2%;
        margin-top:10%;
    }
    .logo-top-bar{
        margin-top:10%;
    }
    .login-form{
        width:75%;
        height:125%;
        margin-top:5%;
    }
    .other-actions {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin-top: 6%;
        font-size:14;
    }
    .login-svg {
        height:70%;
        padding-left: 8%;
    }
    .login-container {
        display: flex;
        flex-direction: column;
        padding: 0% 5%;
    }
}
@media only screen and (min-width : 500px) {
    .top-text{
        margin-top:14%;
        margin-left:15%;
        font-size:90%;
    }
    .logo-top-bar{
        width:23%;
        height:60%;
        margin-left:2%;
        margin-top:10%;
    }
    .logo-top-bar{
        margin-top:10%;
    }
    .login-form{
        width:63%;
        height:126%;
        margin-top:5%;
    }
    .other-actions {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin-top: 6%;
        font-size:14;
    }
    .login-svg {
        height:70%;
        padding-left: 8%;
    }
    .login-container {
        display: flex;
        flex-direction: column;
        padding: 0% 5%;
    }
}
@media only screen and (min-width:643px){
    .login-form{
        width: 45%;
        height:124%;
        margin-top:5%;
    }
    .login-button{
        width:32%;
    }
    .top-text{
        font-size:130%;
        margin-top:8%;
        margin-left:20%;
    }
    .logo-top-bar{
        margin-top:4%;
        height:66%;
        width:15%;
    }
    .other-actions {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin-top: 6%;
        font-size:14;
    }
    .login-svg {
        height:70%;
        padding-left: 8%;
    }
    .login-container {
        display: flex;
        flex-direction: column;
        padding: 0% 5%;
    }

}
@media only screen and (min-width:768px) {
    .login-form{
        height:126%;
        width:45%;
        margin-top:5%;
    }
    .top-text{
        font-size:184%;
        margin-top:4%;
    }
    .logo-top-bar {
        margin-top: 2%;
        width: 15%;
    }
    .other-actions {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin-top: 6%;
        font-size:14;
    }
    .login-svg {
        height:70%;
        padding-left: 8%;
    }
    .login-container {
        display: flex;
        flex-direction: column;
        padding: 0% 5%;
    }
}
@media only screen and (min-width:900px) {
    .top-text{
        font-size: 180%;
        margin-top:4%;
    }
    .login-form{
        height:125%;
        width:34%;
        margin-top:5%;
    }
    .logo-top-bar{
        margin-top:2%;
        height:75%;
        width:13%;
    }
    .other-actions {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin-top: 6%;
        font-size:14;
    }
    .login-svg {
        height:70%;
        padding-left: 8%;
    }
    .login-container {
        display: flex;
        flex-direction: column;
        padding: 0% 5%;
    }
}
@media only screen and (min-width: 1100px) {
    .login-form {
        width: 31%;
        height: 126%;
        margin-top:1%;
    }
    .top-text{
        margin-top:2%;
    }
    .logo-top-bar{
        height:80%;
        margin-top:0%;
        width:13%;
    }
    .other-actions {
         display: flex;
         flex-flow: row wrap;
         justify-content: space-around;
         margin-top: 6%;
        font-size:14;
     }
    .login-svg {
        height:70%;
        padding-left: 8%;
    }
    .login-container {
        display: flex;
        flex-direction: column;
        padding: 0% 5%;
    }
}
@media only screen and (min-width: 1350px) {
    .login-form{
        width:22%;
        height:122%;
        margin-top:1%;
    }
    .top-text{
        margin-left:35%;
    }
    .logo-top-bar{
        width:11%;
    }
    .other-actions {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin-top: 6%;
        font-size:14;
    }
    .login-svg {
        height:70%;
        padding-left: 8%;
    }
    .login-container {
        display: flex;
        flex-direction: column;
        padding: 0% 5%;
    }
}


@media only screen and (height : 812px) {
    .top-text{
        margin-top:14%;
        margin-left:15%;
        font-size:90%;
    }
    .logo-top-bar{
        width:23%;
        height:60%;
        margin-left:2%;
        margin-top:10%;
    }
    .logo-top-bar{
        margin-top:8%;
    }

    .login-form{
        width:85%;
        height:124%;
    }
    .login-svg{
        width:117%;
        padding-left:0%;
    }

} /*Mobile M */
@media only screen and (height:1024px) {
    .login-form{
        height:107%;
        width:59%;
    }
    .top-text{
        font-size:184%;
        margin-top:4%;
    }
    .logo-top-bar{
        margin-top:2%;
        width:15%;
    }
} /*Tableta 1 */
@media only screen and (height:1366px) {
    .login-form{
        height:87%;
        width:47%;
        margin-top:6%;
    }
    .top-text{
        font-size:184%;
        margin-top:4%;
    }
    .logo-top-bar{
        margin-top:0%;
        width:15%;
    }
} /*Tableta 2 */
