@font-face {
    font-family: Junior;
    src: url("../../../../Fonts/Junior-Bold.otf");
    font-display: swap;
}

.carouselHeader {
    padding: 2rem 2rem 0 2rem;
    margin-left: 3rem;
}

.carouselTitle {
    font-family: Junior, serif;
    font-size: 2.125rem;
    margin-left: 3rem;
}

button {
    height: 10%;
    cursor: pointer;
    padding: 1em;
    background: white;
    border: 0;
    outline: none;
}

.right-btn {
    position: absolute;
    margin-top: 6%;
    left: 87%;
    width: 3rem;
}

.left-btn {
    width: 3rem;
    position: absolute;
    left: 8vw;
    margin-top: 6%;
}

.left-arrow {
    width: 3rem;
}

.right-arrow {
    width: 3rem;
}

.carousel {
    width: 90%;
    height: 260px;
    /* margin-bottom: 20%; */
    background-color: white;
    /* border-radius: 0%; */
    margin-left: 5%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
    height: 100%;
    width: 80%;
    background-color: white;
    margin-top: 1rem;
}

.img {
    width: 30%;
    height: 90%;
    margin-top: 1%;
    border: black 2px;
    border-radius: 7%;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.img:hover {
    cursor: pointer;
    border-radius: 50%;
    border: black 2px;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

@media screen and (max-width:1271px) {
    .container {
        height: 80%;
    }
    .carousel {
        margin-top: 6%;
    }
}

@media screen and (max-width:992px) {
    .container {
        height: 71%;
        margin-top: 8%;
        width: 89%;
        margin-left: 4%;
    }
    .left-arrow {
        width: 2rem;
        margin-left: -9vh;
    }
    .right-arrow {
        width: 2rem;
        margin-right: -9vh;
    }
}
