<!DOCTYPE html>

<html lang="en">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<section class="bottom-side",id="footerId">
    <footer>
        <div class="inner_footer">
            <div class="footer_third">
                <h1>Follow Us</h1>
                <a href="https://www.facebook.com/Tiberiu.Iuliannn" class="facebook"><i class="fa fa-facebook">     Brinza Tiberiu</i></a>
                <a href="https://www.instagram.com/vladdexa/" class="twitter"><i class="fa fa-instagram">    Vlad Dexamir</i></a>
                <a href="https://www.instagram.com/codrinepure/" class="instagram"><i class="fa fa-instagram">       Epure codrin</i></a>
            </div>
            <div class="footer_third">
                <h2>Contact Us</h2>
                <a >EMAIL : Codrin.epure@yahoo.com</a>
                <a >GMAIL : twonlinetoys@gmail.com</a>
                <a >PHONE : +40 743 681 796</a>

            </div>
            <div class="footer_third">
                <h3>About Us</h3>
                <a>This is a web application that manages collections of toys.
                    The system offers support for the purchase of these toys, plus user management. </a>
            </div>
            <div class="footer_third">
                <h4></h4>
                <b>Copyright © 2020 Web Technology project A7</b>
                <b>Authors:
                    Epure Codrin,
                    Vlad Dexamir,
                    Brinza Tiberiu Iulian
                </b>
            </div>
        </div>
    </footer>
</section>

</html>
