<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description"
          content="Online toys store">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Components/ForgotPasswordComponent/forgotPasswordForm.css" type="text/css" media="screen">
    <script async src="forgotPasswordFunctions.js"></script>
    <title>Online Toys</title>
</head>

<body>
    <section class="forgot-side">
        <form class="forgot-form">

            <div class="description-form">
                Forgot your password?
            </div>


            <div class="email-container">
                <div>
                    <label for="email">E-mail Adress</label>
                    <input id="email" name="email" type="text" placeholder="Enter e-mail adress">
                </div>

                <div id="resetButtonContainer">
                    <button type="button" class="forgotbutton" onclick="sendEmail()">Reset my password</button>
                </div>

            </div>

            <div class="change-container">
                <div>
                    <label for="sentPassword">Sent Password</label>
                    <input id="sentPassword" name="sentPassword" type="password" placeholder="Enter sent password">

                    <label for="newPassword">New Password</label>
                    <input id="newPassword" name="newPassword" type="password" placeholder="Enter new password">
                </div>


                <div id="changeButtonContainer">
                    <button type="button" class="forgotbutton" onclick="sendNewPassword()">Change my password</button>
                </div>
            </div>


        </form>
    </section>
</body>

</html>
