html,body {
    background-image: url("../../Pages/LoginPage/LoginImages/bck8.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    overflow-y: hidden;
}

.forgot-side {
    display: flex;
    justify-content: center;
    height: 80%;
    margin-top: 6%;
}

.forgot-form {
    display: flex;
    flex-flow: column;
    width: 25%;
    height: 86%;
    border: 5px solid #6da1d826;
    border-radius: 6px;
    background-color: #4230154d;
    box-shadow: 0px 1px 12px 5px rgb(2, 9, 43);
}

.description-form {
    color: #0d1535;
    font-size: 30px;
    margin-top: 8%;
    text-align: center;
    font-family: cursive;
    margin-bottom: 5%;
}

.email-container {
    display: flex;
    padding: 0% 9%;
    margin-top: 8%;
    flex-direction: column;
    margin-bottom: 5%;
}

.email-container>div {
    display: flex;
    flex-direction: column;
    margin: 2%;
}

.change-container {
    display: flex;
    padding: 0% 9%;
    margin-top: 8%;
    flex-direction: column;
}

.change-container>div {
    display: flex;
    flex-direction: column;
    margin: 2%;
}

#resetButtonContainer {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    align-items: center;
    height: 30%;
}

#changeButtonContainer {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    align-items: center;
    height: 30%;
}

.forgotbutton {
    width: 70%;
    border: 1px solid #21354b;
    border-radius: 7px;
    background-color: #abc9ca;
    color: #080d34;
    font-size: 1em;
    margin-bottom: 0%;
    height: 30px;
}

label {
    text-align: center;
    font-weight: bold;
    font-size: large;
    font-family: serif;
    color: #0d1535;
    margin-bottom: 2%;
}

input {
    padding: 1%;
    background-color: #abc9ca;
    font-size: 1em !important;
    font-style: italic;
    background-clip: padding-box;
    border: 1px solid #abc9ca;
    border-radius: 0.25rem;
    margin-bottom: 2%;
}

@media screen and (max-width:1268px) {
    .forgot-form {
        width: 33%;
        height: 96%;
    }
}

@media screen and (max-width:960px) {
    .forgot-form {
        width: 38%;
        height: 87%;
        margin-top: 8%;
    }
    .forgotbutton {
        font-size: 13px;
    }
    .description-form {
        font-size: 25px;
    }
}

@media screen and (max-width:680px) {
    .description-form {
        font-size: 20px;
    }
    .forgot-form {
        width: 44%;
        height: 80%;
        margin-top: 13%;
    }
    .forgotbutton {
        font-size: 11px;
        height: 32px;
    }
    @media screen and (max-width: 480px) {
        .forgot-form {
            width: 70%;
            height: 82%;
            margin-top: 23%;
        }
        .forgotbutton {
            height: 30px;
            font-size: 11px;
        }
    }
}
