<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Toys</title>
</head>

<body>

    <div class="card-container">

        <div class="image-container">
            <img src="../../Components/Generics/Carousel/CarouselImages/bck2.jpg">

        </div>

        <div class="product-description">
            Jucarie tip avion pentru copii
        </div>

        <div class="price">
            19.99 Lei
        </div>

    </div>

</body>

</html>
