.register-form {
    display: flex;
    margin-left: 35%;
    margin-right: 2%;
    flex-flow: column wrap;
    width: 27%;
    height: 65%;
    border: 5px solid #6da1d826;
    border-radius: 6px;
    background-color: #4230154d;
    box-shadow: 0px 1px 12px 5px rgb(2, 9, 43);
    margin-top: 12%;
}

.closeContainer {
    background-color: #5d59562e;
    border: 0px;
}

.closeButton {
    float: right;
    justify-content: right;
    display: inline-grid;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.registerButtonContainer {
    display: flex;
    justify-content: center;
    height: 15%;
    padding-top: 1%;
    margin-top: 2%;
}

.regButton {
    width: 60%;
    margin-top: 5%;
    border: 1px solid #21354b;
    border-radius: 15px;
    background-color: #abc9ca;
    color: #080d34;
    font-size: 1em;
    margin-bottom: 5px;
}

@media only screen and (min-width:320px) {
    .register-form {
        margin-left: 17%;
        margin-right: 2%;
        width: 75%;
        height: 72%;
        margin-top: 37%;
    }
}

@media only screen and (height:640px) {
    .register-form {
        height: 75%;
        margin-top: 38%;
    }
}


/*iphone 5/SE */

@media only screen and (height:568px) {
    .register-form {
        margin-left: 10%;
        margin-right: 2%;
        width: 77%;
        height: 82%;
        margin-top: 27%;
    }
}


/* iphones 6-7-8 */

@media only screen and (height:667px) {
    .register-form {
        margin-left: 13%;
        margin-right: 2%;
        width: 77%;
        height: 71%
    }
}

@media only screen and (min-width:495px) {
    .register-form {
        margin-top: 27%;
        width: 53%;
        height: 70%;
        margin-left: 29%;
    }
}

@media only screen and (min-width:600px) {
    .register-form {
        margin-top: 25%;
        width: 42%;
        height: 72%;
        margin-left: 29%;
    }
}

@media only screen and (min-width:700px) {
    .register-form {
        margin-top: 22%;
        width: 39%;
        height: 70%;
        margin-left: 29%;
    }
}


/* IPAD */

@media only screen and (height:1024px) {
    .register-form {
        margin-top: 28%;
        width: 38%;
        height: 49%
    }
}

@media only screen and (min-width:860px) {
    .register-form {
        margin-top: 20%;
        width: 34%;
        height: 73%;
    }
}

@media only screen and (min-width:1000px) {
    .register-form {
        margin-top: 15%;
        width: 30%;
        height: 73%;
    }
}


/* Ipad PRO */

@media only screen and (height:1366px) {
    .register-form {
        margin-top: 35%;
        width: 38%;
        height: 39%
    }
}

@media only screen and (min-width:1200px) {
    .register-form {
        margin-top: 12%;
        width: 26%;
        height: 72%;
        margin-left: 35%;
    }
}

@media only screen and (min-width:1340px) {
    .register-form {
        margin-top: 12%;
        width: 26%;
        height: 75%;
        margin-left: 35%;
    }
}