.register-form {
    display: flex;
    margin-left: 35%;
    margin-right: 2%;
    flex-flow: column wrap;
    width: 27%;
    height: 65%;
    border: 5px solid #6da1d826;
    border-radius: 6px;
    background-color: #4230154d;
    box-shadow: 0px 1px 12px 5px rgb(2, 9, 43);
    margin-top: 12%;
}

.closeContainer {
    background-color: #5d59562e;
    border: 0px;
}

.closeButton {
    float: right;
    justify-content: right;
    display: inline-grid;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.registerButtonContainer {
    display: flex;
    justify-content: center;
    height: 15%;
    padding-top: 1%;
    margin-top: 2%;
}

.regButton {
    width: 60%;
    margin-top: 5%;
    border: 1px solid #21354b;
    border-radius: 15px;
    background-color: #abc9ca;
    color: #080d34;
    font-size: 1em;
    margin-bottom: 5px;
}

@media screen and (min-width:320px) {
    .register-form {
        margin-right: 2%;
        width: max-content;
        height: 65%;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -200px;
        margin-left: -100px;
    }
    .regButton {
        width: 48%;
        margin-bottom: 20px;
    }
}



@media screen and (min-width: 600px) {
    .register-form {
        width: max-content;
        height: 65%;

        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -200px;
        margin-left: -100px;
    }
    .regButton {
        width: 53%;
        margin-top: 6%;
        margin-bottom: 9px;
    }

}



@media screen and (min-width:1000px) {

    .register-form {
        width: max-content;
        height: 65%;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -200px;
        margin-left: -100px;
    }
    .regButton {
        width:49%;
    }
}



@media only screen and (min-width:1340px) {
    .register-form {

        width: 20%;
        height: 65%;

        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -200px;
        margin-left: -100px;
    }
}



