.AdImage {
    width: 80%;
    position: absolute;
    left: 10%;
    margin-top: 2rem;
    top: 15%;
    z-index: 0;
}

.footer-container {
    position:absolute;
    top: 260%;
}

@media(max-width: 768px){
    .AdImage {
        top:8%;
    }
    .footer-container {
        top:92%;
    }
}


